{% extends "base.html.twig" %}


{% block content %}

<section class="container my-5">
    <div class="row align-items-center articulo-contenedor">
        
        <div class="col-md-6 order-md-1 order-2 d-flex flex-column justify-content-center articulo-texto">
            <h2 class="display-5 fw-bold mb-3">Descubriendo el Futuro del Diseño Web</h2>
            <p class="lead">
                El panorama digital evoluciona a un ritmo vertiginoso, obligándonos a repensar cómo interactuamos con el contenido en línea. Desde la micro-interacción hasta la tipografía dinámica, la usabilidad y la accesibilidad se han convertido en pilares fundamentales.
                Adoptar metodologías como "Mobile-First" ya no es una opción, sino una necesidad. Los diseñadores modernos se centran en la eficiencia del código y la velocidad de carga, garantizando experiencias fluidas en cualquier dispositivo, impulsando la retención de usuarios y la conversión.
            </p>
        </div>

        <div class="col-md-6 order-md-2 order-1 articulo-imagen-contenedor">
            <img src="/Images/carousel/steam1.jpg" class="img-fluid" alt="Representación abstracta del diseño web moderno con líneas y colores vibrantes">
        </div>
        
    </div>

    <div class="row align-items-center articulo-contenedor">
        
        <div class="col-md-6 order-md-2 order-1 d-flex flex-column justify-content-center articulo-texto">
            <h2 class="display-5 fw-bold mb-3">Descubriendo el Futuro del Diseño Web</h2>
            <p class="lead">
                El panorama digital evoluciona a un ritmo vertiginoso, obligándonos a repensar cómo interactuamos con el contenido en línea. Desde la micro-interacción hasta la tipografía dinámica, la usabilidad y la accesibilidad se han convertido en pilares fundamentales.
                Adoptar metodologías como "Mobile-First" ya no es una opción, sino una necesidad. Los diseñadores modernos se centran en la eficiencia del código y la velocidad de carga, garantizando experiencias fluidas en cualquier dispositivo, impulsando la retención de usuarios y la conversión.
            </p>

        </div>

        <div class="col-md-6 order-md-1 order-2 articulo-imagen-contenedor">
            <img src="/Images/carousel/steam1.jpg" class="img-fluid" alt="Representación abstracta del diseño web moderno con líneas y colores vibrantes">
        </div>
        
    </div>
</section>

{% endblock %}