{% extends "base.html.twig" %}


{% block content %}
<div class="container-fluid d-flex justify-content-center py-5">
  <div class="row">
    <h1 class="col-12">INDICE</h1>
    <p class="col-12">AQUI LAS GRAFICAS DIARIAS</p>

  </div>
{% endblock %}