<header class="d-flex justify-content-center py-3">
	<a href="/" class="d-flex align-items-center mb-3 mb-md-0 link-body-emphasis text-decoration-none">
		<img src="/Images/logoN.png" alt="" class="logo-header me-2">
		<span class="fs-4">METEO IES Gregorio Prieto</span>
	</a>
</header>
<div class="container-fluid d-flex justify-content-center py-2 borde_inferior">
	<nav class="navbar navbar-expand-lg navbar-light">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="nav nav-pills bordes_laterales">
					<li class="nav-item">
						<a href="/" class="nav-link">Inicio</a>
					</li>
					<li></li>
					<li class="nav-item">
						<a href="/temperatura" class="nav-link">Temperatura</a>
					</li>
					<li class="nav-item">
						<a href="/presion" class="nav-link">Presion Atmosferica</a>
					</li>
					<li class="nav-item">
						<a href="/humedad" class="nav-link">Humedad</a>
					</li>
					<li class="nav-item">
						<a href="/historico-viento" class="nav-link">Viento</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link">Lluvia</a>
					</li>
					<li class="nav-item">
						<a href="/about" class="nav-link">About</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
