<header class="d-flex justify-content-center py-3">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 link-body-emphasis text-decoration-none">
        <img src="/Images/logoN.png" alt="" class="logo-header me-2">
        <span class="fs-4">METEO IES Gregorio Prieto</span>
    </a>
</header>
