<div class="container-fluid d-flex justify-content-center py-2 borde_inferior">
    <ul class="nav nav-pills bordes_laterales">
        <li class="nav-item"><a href="/" class="nav-link">Inicio</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Datos</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Tablas</a></li>
        <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
    </ul>
</div>